/* Tune this on https://docs.cord.com/get-started/live-css-editor  */
body {

  /* Basic background for most elements */
  --cord-color-base: #f5f5f5;

  /* Background for highlighted elements, e.g. annotation */
  --cord-color-base-strong: #e5e5e5;

  /* Hover states and borders */
  --cord-color-base-x-strong: #d1d1d1;

  /* Most content, e.g. message text */
  --cord-color-content-primary: #3d3a33;

  /* Supplementary content, e.g. timestamps */
  --cord-color-content-emphasis: #9a6aff;

  /* Links, button content and usernames */
  --cord-color-brand-primary: #6949ac;

}

/* Prettify a bit */

#setup-cord {
  display: flex;
  flex-direction:column;
  align-items: center;
}
#setup-cord pre {
  border: 1px dashed #97979F;
  padding: 4px 6px;
} 

.change-user {
  display: flex;
  gap: 4px;
  margin: 4px;
}
